<%= form_with model: employee do |form| %>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label>Employee Name</label>
        <%= form.text_field :name, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= form.submit params[:action] == 'new' ? 'Create' : 'Update',
          class: "btn btn-sm btn-outline-success" %>
      <%= render 'shared/back' %>
    </div>
  </div>
<% end %>
