<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-12">
      <h1>Edit Ride for <%= "#{ride.employee.name}" %></h1>
    </div>
  </div>
  <%= render 'form', ride: ride %>
</div>
